#wpfooter {
    display: none;
}
.remove-image{
    float: right;
    margin-left: -3em;
    z-index: 999999999;
    position: relative;
}
.image-preview-wrapper{
    padding-left: 0.4em;
    padding-right: 0.4em;
}
.list-inline-item :hover {
    cursor: pointer;
}
.list-inline-item p {
    font-weight: bold;
}
.slider-wrapper {
    border: 1px solid black;
    padding: 1em;
    margin-top: 1em;
}
.form-header{
    width: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.slider-wrapper select {
    display: block;
    margin-bottom: 0;
    width: 100%;
}
.slider-wrapper input {
    line-height: 0.5em;
}
.linkInput {
    width: 100%;
}
.slider-wrapper button {
    line-height: 1.1em;
}
#wpbody-content > div.wrap > div.form-header > div:nth-child(1) {
    width: 30%;
}
#forms-container > li > div:nth-child(2) > div:nth-child(2) > input {
    display: block;
}
.slider-wrapper .row {
    margin-bottom: 1em;
}
.productTitle {
    width:170px;
    font-size: 12px;
}
